* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .main-container {
  display: flex;
} */

main {
  padding: 10px;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: rgb(0, 7, 61);
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.logo {
  font-size: 18px;
  line-height: 0;
}

.bars {
  width: 30px;
}

.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}

.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover {
  border-right: 4px solid white;
  background: rgb(250, 251, 252);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: red;
}

.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}

.link_text {
  white-space: nowrap;
  font-size: 15px;

}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}

.menu_item {
  display: flex;
  gap: 10px;
}

.menu_container {
  display: flex;
  flex-direction: column;
}

.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}








/* :root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;   
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
} */

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
}

.productList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.productCard {
  
  position: relative;
  background-color: var(--color-grey-primary);
  margin: 1rem;
  flex: 1 0 25rem;
  max-width: 40rem;
  max-height: 30rem;
  transition: 0.2s;
  border-radius: 20px;
}

.productCard:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.productImage {
  margin-top: 2rem;
  max-width: 100%;
  height: 50px;
  margin-left: 20px;
  border-radius: 115px;
}

.productCard__cart {
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__wishlist {
  position: absolute;
  right: 3rem;
  margin: 1rem;
  font-size: 2rem;
  transition: 0.2s;
  cursor: pointer;
}

.productCard__fastSelling {
  position: absolute;
  font-size: 2rem;
  left: 0;
  margin: 1rem;
  fill: var(--color-orange-primary);
}

.productCard__content {
  margin: 2rem;
}

.productName {
  font-size: 1.5rem;
}

.displayStack__1,
.displayStack__2 {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
}

.productSales,
.productTime {
  font-size: 1.1rem;
}

@media screen and (max-width: 420px) {
  .productCard {
    background-color: var(--color-grey-primary);
    margin: 0.1rem;
    max-width: 20rem;
    max-height: 40rem;
    transition: 0.2s;
    border-radius: 10px;
  }

}

@media screen and (min-width: 820px) and (max-width: 1180px) {
  /* Your Styles... */
  .productCard {
    background-color: var(--color-grey-primary);
    margin: 1rem;
    max-width: 20rem;
    max-height: 40rem;
    transition: 0.2s;
    border-radius: 10px;
  }
}